# Database settings:
MYSQL_DATABASE=spring-boot-e-commerce
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=toor
MYSQL_USER=app
MYSQL_PASSWORD=appsecret

# JWT settings:
JWT_ACCESS_TOKEN_TTL_MS=300000
JWT_REFRESH_TOKEN_TTL_MS=86400000
JWT_REFRESH_TOKEN_MAX_LIFETIME_MS=2592000000
